body{
  font-size: 15pt;
  background-color: black;
  color: white;
}
a{
    color: yellow;
}
.h11{
    animation: h11 5s infinite;
}
@keyframes h11 {
   0%{
       color: black;
   }
   10%{
    color: lightblue;
   }
    30%{
        color: yellow;
    }
    50%{
        color: gray;
    }
}
.vhunculeimgclass{
     animation: vh 5s infinite;
}

@keyframes vh {
    0%{
        height: 100;
    }

    10%{
        height: 300;
    }

    50%{
        height: 500;
    }

    70%{
         height: 600;
    }
 
    100%{
         heights: 700%;
    }
}
