body{
  font-size: 15pt;
}

.h11{
    animation: h11 5s infinite;
}
@keyframes h11 {
   0%{
       color: black;
   }
   10%{
    color: lightblue;
   }
    30%{
        color: yellow;
    }
    50%{
        color: gray;
    }
}